@font-face {
  font-family: "GEO";
  src: url("../fonts/darkgames-geo.ttf") format("ttf"), url("../fonts/darkgames-geo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GEO", sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 100%;
  position: relative;
  background-color: #191919;
}
body nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: #1D1D1D;
  padding: 45px 0;
  border-radius: 0 20px 20px 0;
  position: sticky;
  top: 0;
}
body nav .top {
  display: flex;
  flex-direction: column;
}
body nav .top h1 {
  color: #FFFFFF;
  margin-bottom: 45px;
}
body nav .top h1 i {
  padding-right: 10px;
}
body nav .top ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body nav .top ul li a {
  text-decoration: none;
  color: #9e9d9d;
  font-size: 18px;
  transition: 0.3s ease;
}
body nav .top ul li a:hover {
  color: #FFFFFF;
}
body nav .top ul li .dropdown {
  position: relative;
  display: inline-block;
}
body nav .top ul li .dropdown a.dropbtn {
  text-decoration: none;
  color: #9e9d9d;
  font-size: 18px;
  transition: 0.3s ease;
}
body nav .top ul li .dropdown a.dropbtn .fa-chevron-up {
  padding-left: 7px !important;
  transition: 0.3s ease;
}
body nav .top ul li .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 12px;
  left: -20px;
}
body nav .top ul li .dropdown .dropdown-content a {
  color: #FFFFFF;
  width: 90px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  border-radius: 12px;
  transition: 0.3s ease;
}
body nav .top ul li .dropdown .dropdown-content a:hover {
  background-color: #3a3a3a;
  border-radius: 15px;
}
body nav .top ul li .dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 7px;
}
body nav .top ul li .dropdown:hover .dropbtn {
  color: #FFFFFF;
}
body nav .top ul li .dropdown:hover .dropbtn .fa-chevron-up {
  transform: rotateX(-180deg);
}
body nav .bottom .dropdown {
  position: relative;
  display: inline-block;
}
body nav .bottom .dropdown .flag {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
body nav .bottom .dropdown a.dropbtn {
  text-decoration: none;
  color: #9e9d9d;
  font-size: 18px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
}
body nav .bottom .dropdown a.dropbtn .fa-chevron-up {
  padding-left: 7px !important;
  transition: 0.3s ease;
}
body nav .bottom .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  left: -25px;
  top: -150%;
}
body nav .bottom .dropdown .dropdown-content a {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s ease;
  padding: 5px 10px;
}
body nav .bottom .dropdown .dropdown-content a:hover {
  background-color: #3a3a3a;
  border-radius: 10px;
}
body nav .bottom .dropdown:hover .dropdown-content {
  display: block;
}
body nav .bottom .dropdown:hover .dropbtn {
  color: #FFFFFF;
}
body nav .bottom .dropdown:hover .dropbtn .fa-chevron-up {
  transform: rotateX(-180deg);
}
body main {
  width: calc(100% - 200px);
  overflow-y: auto;
  background-color: #191919;
  animation: pageLoad 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes pageLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body main .container {
  max-width: 1400px !important;
  width: 100% !important;
  padding: 20px 35px !important;
}
body main .main-navigation {
  display: flex;
  justify-content: space-between;
}
body main .main-navigation .logo img {
  width: 210px;
  height: 52px;
}
body main .main-navigation .profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
body main .main-navigation .profile .search {
  position: relative;
}
body main .main-navigation .profile .search input {
  max-width: 250px;
  width: 100%;
  height: 38px;
  border: 0;
  border-radius: 10px;
  background-color: #232323;
  transition: 0.3s ease;
  outline: none;
  padding: 7px 15px;
  color: #9e9d9d;
  text-transform: uppercase;
  font-weight: bold;
}
body main .main-navigation .profile .search i {
  position: absolute;
  color: #FFFFFF;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
  cursor: pointer;
}
body main .main-navigation .profile .search input:hover {
  background-color: #1d1d1d;
}
body main .main-navigation .profile .search input:focus {
  background-color: #1d1d1d;
  border: 2px solid #232323;
}
body main .main-navigation .profile .search i:hover {
  color: #818181;
}
body main .main-navigation .profile a {
  text-decoration: none;
  width: 135px;
  height: 38px;
  background-color: #3a3a3a;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 12px;
  transition: 0.3s ease;
}
body main .main-navigation .profile a i {
  font-size: 20px;
}
body main .main-navigation .profile a:hover {
  background-color: #232323;
}
body main section.top-slider .slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
body main section.top-slider .slider-container .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
body main section.top-slider .slider-container .slider .slide {
  min-width: 33.3333333333%;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 15px;
}
body main section.top-slider .slider-container .slider .slide img {
  max-width: 450px;
  width: 100%;
  height: 200px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main section.top-slider .slider-container .slider .slide .text {
  padding-left: 15px;
}
body main section.top-slider .slider-container .slider .slide .text h5 {
  color: #FFFFFF;
}
body main section.top-slider .slider-container .slider .slide .text h6 {
  color: #9e9d9d;
  font-size: 15px;
}
body main section.top-slider .slider-container .arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 18px;
  cursor: pointer;
  z-index: 1000;
  font-size: 18px;
}
body main section.top-slider .slider-container .arrow.left-arrow {
  left: 10px;
}
body main section.top-slider .slider-container .arrow.right-arrow {
  right: 10px;
}
body main section.top-slider .slider-container .arrow.hidden {
  display: none;
}

@media (max-width: 1300px) {
  body main section.top-slider .slider-container .slider .slide {
    min-width: 50%;
  }
}/*# sourceMappingURL=style.css.map */